
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: inherit;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}


body {
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

button, input, textarea, select {
    background: none;
    border: none;
    outline: none;
}

img {
    max-width: 100%;
    display: block;
}

article, aside, footer, header, nav, section {
    display: block;
}
